<main>
    <div class="container-usuario">
        <div class="perfil-usuario">
            <h2>Meu Perfil</h2>
            <form action="/adicionar-livro" method="get">
                <button type="submit" class="adicionar">Adicionar Livro</button>
            </form>
            <form action="/editar-usuario" method="get">
                <button type="submit" class="editar-dados">Editar meus Dados</button>
            </form>
        </div>

        <div class="livros-usuario">
            <h2>Meus Livros</h2>
            <div class="livro-container">
                {{#each user.books}}
                <div class="livro">
                    <img src="{{this.imagem}}" alt="Imagem do livro">
                    <h3>{{this.titulo}}</h3>
                    <h4>Autor: {{this.autor}}</h4>
                    <p><strong>Editora:</strong> {{this.editora}}</p>
                    <p><strong>Ano:</strong> {{this.ano}}</p>
                    <p><strong>Número de Páginas:</strong> {{this.paginas}}</p>
                    <p><strong>Estado:</strong> {{this.estado}}</p>
                    <div class="acoes">
                        <form action="/editar-livro/{{this.id}}" method="get">
                            <button type="submit" class="editar">Editar</button>
                        </form>
                        <form action="/remover-livro/{{this.id}}" method="post">
                            <button type="submit" class="remover">Remover</button>
                        </form>
                        {{#if this.destaque}}
                        <form action="/desmarcar-destaque/{{this.id}}" method="post">
                            <button type="submit" class="desmarcar">Desmarcar Destaque</button>
                        </form>
                        {{else}}
                        <form action="/marcar-destaque/{{this.id}}" method="post">
                            <button type="submit" class="marcar">Marcar Destaque</button>
                        </form>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>